@font-face
{
    font-family: 'Andika Basic';

    src: url('/font/AndBasR.ttf');
}
*
{
    font-family: 'Andika Basic';
    font-size: 15px;

    margin: 0;
    padding: 0;

    color: #444;
}
a
{
    color: #0080a7;
}
a:hover
{
    text-decoration: none;
}
.container
{
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 20px 0 0;

    text-align: center;
}
h1
{
    font-size: 50px;
    line-height: 52px;
}
h2
{
    font-size: 40px;

    margin: 20px 0 0;
}

h3
{
    font-size: 23px;

    margin: 20px 0 10px;
}

.container h2 a
{
    font-size: 35px;
}
dl
{
    margin-bottom: 20px;
}
dt
{
    font-size: 15px;
    font-weight: bold;
}
