@import 'reset';
/* BASIC CONFIGURATION
----------------------------------------------------------*/
/* Utilities
-----------------------------*/
%clearfix
{
    display: block;
    clear: both;

    width: 0;
    height: 0;

    content: '';
}
// Limit div
%limit
{
    width: $site-size;
    margin: auto;
}

/* General Styles
-----------------------------*/
body
{
    font-family: $font;
    font-size: 62.5%;

    color: $color2;
}
a,
button
{
    padding: 5px;

    cursor: pointer;
    transition: all .2s linear;
    text-decoration: none;
    word-wrap: break-word;

    color: $color1;
    background-color: #f1f1f1;
    &:hover
    {
        transition: all .2s linear;
        text-decoration: none;
        word-wrap: break-word;

        color: #f1f1f1;
        background-color: $color1;
    }
    &:focus,
    &:active
    {
        text-decoration: none;
    }
}


%invert
{
    transition: all .2s linear;

    color: #f1f1f1;
    background-color: lighten($color1, 15%);
    &:hover
    {
        transition: all .2s linear;

        color: $color1;
        background-color: darken(#f1f1f1, 5%) ;
    }
}
