// CONFIG CONTAINER
.container
{
    padding: 40px;

    border: 1px solid $color1;
    border-radius: 5px;
    background-color: lighten($color1, 56%);

    @extend %limit;
}

// CONFIG HEADER
header
{
    h1
    {
        font-size: 2em;

        display: block;

        margin: 0 0 20px;

        text-align: center;
    }
}
h1.center
{
    text-align: center;
}
// CONFIG GENERAL INPUT
input[type='text'],
input[type='password']
{
    display: block;

    padding: 10px 20px;

    border: none;
}

// FORM LOGIN
form[name='loginForm'],
form[name='formcreate']
{
    input
    {
        font-size: 1.2em;

        display: block;

        width: 100%;
        margin: 0 0 10px;
        &[type='submit']
        {
            font-size: 1.7em;

            display: block;

            width: 100%;
            margin: 20px 0 0;
            padding: 10px 0;

            cursor: pointer;
            text-align: center;

            @extend %invert;
        }
    }
    + p
    {
        font-size: 1.2em;

        display: block;

        margin: 10px 0;
        a
        {
            display: inline-block;
        }
    }
}

// FORM ADD ITEM
form[name='newItem']
{
    margin: 0 0 40px;
    input
    {
        font-size: 1.2em;

        display: inline-block;

        width: 80%;

        vertical-align: middle;
    }
    button
    {
        font-size: 2em;

        display: inline-block;

        width: 15%;

        vertical-align: middle;
    }
}

// TABLE OF LIST
table
{
    th,
    td
    {
        &:nth-child(2),
        &:nth-child(3)
        {
            text-align: center;
        }
    }
    th
    {
        font-size: 1.6em;

        padding: 0 0 10px;

        border-bottom: 1px solid $color2;
    }
    td
    {
        font-size: 1.4em;
        &:nth-child(1)
        {
            width: 5%;
        }
        button
        {
            font-size: 1em;

            display: block;

            margin: auto;

            text-align: center;
        }
        input
        {
            font-size: em(13px, 14px);

            width: 90%;
            margin: 10px auto;
        }
    }
    .taskdone
    {
        opacity: .8;
        input
        {
            text-decoration: line-through;

            color: #414141;
            background-color: transparent;
        }
        a
        {
            text-decoration: line-through;
        }
    }
}

// CONFIG DETAIL PAGE
.detail
{
    width: 500px;
    margin: auto;
    h1,
    h2
    {
        margin: 0 0 10px;
        span
        {
            float: right;
        }
    }
    .task
    {
        display: inline-block;
        float: none;
        &.taskdone
        {
            display: none;
        }
    }
    .pay
    {
        font-size: 1.7em;

        display: block;

        max-width: 100%;
        margin: 20px auto 10px;
        padding: 10px 0;

        text-align: center;
        text-transform: uppercase;

        @extend %invert;
        &.taskdone
        {
            display: none;
        }
    }
}

// CONFIG LINK TO BACK
.back
{
    font-size: 1.4em;

    display: block;

    width: 60%;
    margin: 40px auto 0;
    padding: 10px 0;

    text-align: center;

    @extend %invert;
}

// CONFIG FOOTER
footer
{
    font-size: 1.2em;

    display: block;

    margin: 30px 0 0;

    text-align: center;
}
