<!DOCTYPE html>
<html>

  {% include head.liquid %}

  <body>

    {% include header.liquid %}

    <div class="page-content">
      {{ content }}
    </div>

    {% include footer.liquid %}

  </body>

</html>
