/*------------------------------------------------------FONT UTILIZADA----------------------------------------------------------*/

@font-face {
	font-family: "Andika Basic";
	src: url("../font/AndBasR.ttf");
}
*{
	font-family: "Andika Basic";
	color: #444444;
	padding: 0;
	margin: 0;
	font-size: 15px;
}
@media screen and (max-width : 640px) {
	*{
		font-size: 15px;
	}
}
body{
	background-image: url('../img/bg-site.jpg');
}

/*------------------------------------------------------LIMPA----------------------------------------------------------*/

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility: hidden;
}

/*------------------------------------------------------DIV GERAL----------------------------------------------------------*/

@media screen and (max-width : 640px) {
	div#container{
		width: 100% !important;
	}
}

div#container{
	margin: 0 auto;
	position: relative;
	text-align: left;
	width: 970px;
}

/*------------------------------------------------------CORES----------------------------------------------------------*/

.blog{
	color: #3796df;
}
.projetos{
	color: #dd37df;
}
.github{
	color: #40961f;
}
.sobre{
	color: #ffa200;
}
.contato{
	color: #0d5471;
}

/*------------------------------------------------------CABECARIO----------------------------------------------------------*/

header{
	position: relative;
}
.hgroup{
	float: left;
	margin-left: 122px;
}
header .hgroup h6{
	font-size: 15em;
	left: -75px;
	position: absolute;
	top: -161px;
	font-weight: normal;
}
header .hgroup h1{
	/*position: relative;*/
	line-height:90%;
	font-size: 4.4em;
}
header .hgroup h1 + h1{
	font-size: 4em;
}

/*------------------------------------------------------MENU REDE SOCIAL----------------------------------------------------------*/
@media screen and (max-width : 640px) {
	header nav {
		display: none;
	}
}
header nav {
	float: right;
	/*margin-right: 60px;*/
	margin-right: 55px;
	margin-top: 25px;
}
header nav ul {
	margin-bottom: 10px;
	list-style-type: none;
}
header nav ul li{
	background-color: #cc1;
	width: 30px;
	height: 30px;
	display: inline-block;
}

/*------------------------------------------------------CAMPO BUSCA----------------------------------------------------------*/

header nav input{
	border-radius: 4px;
	padding-left: 5px;
	/*padding: 5px;*/
	box-shadow: 0 2px 2px #DDDDDD inset;
	border: 1px solid #B1BBC6;
}

/*------------------------------------------------------MENU PRINCIPAL----------------------------------------------------------*/

/* iPads (portrait and landscape) ----------- */
@media screen and (max-width : 640px) {
	nav#meu-container ul{
		display: none;
	}
}
nav#meu-container {
	margin: 30px 0;
	clear: both;
}
nav#meu-container ul{
	list-style: none;
	text-align: center;
	/*padding: 20px;*/
}
nav#meu-container ul li{
	position: relative;
	display: inline-block;
}
nav#meu-container ul li a{
	font-size: 1.3em;
	text-decoration: none;
	padding: 0  10px;
	margin: 0 10px;
	/*color: #444;*/
	/*background-color: #ddd;*/
}

/*------------------------------------------------------SECTION----------------------------------------------------------*/

section{
	padding: 0px 0 20px 0;
	/*padding-top: 20px;
	padding-bottom: 20px;*/
}
@media screen and (min-width : 641px) {
	section#content{
		float: left;
	}
}
@media screen and (max-width : 640px) {
	section#content{
		width: 64% !important;
		margin: auto;
	}
	aside#sidebar{
		display: none;
	}
	aside, .smallArticle{
		width: auto !important;
	}
	.boxLeft{
		margin-right: 0 !important;
	}

	/*.divisor{
		margin-left: 0 !important;
	}*/
}
section#content{
	/*float: left;*/
	width: 645px;
	padding-left: 55px;
}
aside#sidebar{
	float: left;
	width: 270px;
	/*background-color: #ccc;*/
}
.divisor{
	clear: both;
	color: #FFA200;
	font-size: 3em;
	margin-left: -55px;
	text-align: center;
}

/*------------------------------------------------------SECTION SIDE BAR----------------------------------------------------------*/

aside#sidebar aside{
	width: 250px;
	padding-left: 20px;
}
aside#sidebar aside h1{
	margin-bottom: 25px;
}
aside#sidebar aside:first-child{
	margin-top: 0;
}
aside#sidebar .divisor{
	margin-left: 0;
}

/*------------------------------------------------------ASIDE----------------------------------------------------------*/

article h1{
	font-size: 1.3em;
	margin-top: 15px;
}
article h1.blog{
	margin-top: 0px;
}
.smallArticle{
	width: 270px;
	float: left;
}
span.signal{
	font-size: 9em;
	position: absolute;
	left: -69px;
	top: -69px;
}
span.signal.projetos, span.signal.github{
	left: -54px;
}
span.signal.blog:after{
	content: "{ ";
}
span.signal.projetos:after{
	content: "( ";
}
span.signal.github:after{
	content: "[ ";
}
.boxLeft{
	margin-right: 85px;
	/*margin-right: 0;*/
}
aside{
	float: left;
	margin-top: 25px;
	/*margin-right: 71px;*/
	/*max-height: 133px;*/
	min-height: 133px;
	position: relative;
	text-align: justify;
	width: 270px;
}
aside h1{
	font-size: 1.2em;
	font-weight: normal;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 640px) {
	/* Styles */
	aside p{
		font-size: 1.1em;
	}
}
aside p{
	/*margin-top: 45px;*/
	line-height: 90%;
}

/*------------------------------------------------------RODAPE----------------------------------------------------------*/

footer{
	position: relative;
	/*background-color: #ccc;*/
	text-align: center;
	font-size: 0.8em;
	clear: both;
}
