<form name="newItem">
	<input type="text" name="name" id="name" placeholder="product" ng-model="item.name" ng-required="true">
	<button ng-click="addItem(item)" ng-disabled="newItem.$invalid">+</button>
</form>
<table>
	<tr>
		<!-- <th colspan="1"></th> -->
		<th colspan="2"><a href="" ng-click="ortherBy('name')">Nome</a></th>
		<th>Detalhes</th>
		<th>Remover</th>
	</tr>
	<tr ng-class="{'taskdone': product.status}" ng-repeat="product in list | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
		<td>
			<input ng-checked="product.status" id="input{{product.id}}" type="checkbox" name="status" ng-model="product.status" ng-click="changeItem(product)"/>
			<label for="input{{product.id}}"></label>
		</td>
		<td><input type="text" value="{{product.name}}" my-blur="changeItem(product)"></td>
		<td>
			<a href="/#/details">detalhe</a>
			<!-- <a href="details.html#?id={{product.id}}">detalhe</a> -->
		</td>
		<td><button ng-click="deleteItem($index, product)">deletar</button></td>
	</tr>
</table>

<a href="/#/" class="back">VOLTAR</a>
<br>
{{message}}